[Unit]
Description=Beanstalkd Go Queue Coordinator

[Service]
Type=simple
WatchdogSec=30s
Restart=on-failure
ExecStart=/usr/bin/go-qcoordinator

[Install]
WantedBy=multi-user.target